.wrapper {
  position: fixed;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

.wrapper svg {
  width: 100%;
  height: 100%;
}

.lineBack,
.lineFront {
  fill: none;
  stroke: rgba(255, 255, 255, 0.726);
  stroke-width: 2;
  stroke-linecap: round;
}

.lineBack {
  opacity: 0.35;
}

.lineFront {
  opacity: 1;
}
